<div class="container">
    <div class="card">
       <h1>Login Form</h1> 
       <form #myLogin ="ngForm" (ngSubmit)="doLogin(myLogin.value)">

          <p>
            <mat-form-field appearance="outline" class="field">
              <mat-label>Email</mat-label>
              <input type="email" name="email" [(ngModel)]="data.email"  matInput placeholder="Enter email">
             
            </mat-form-field>
          </p>
          
          <p>
            <mat-form-field appearance="outline" class="field">
              <mat-label>Password</mat-label>
              <input type="password" name="password" [(ngModel)]="data.password" matInput placeholder="Enter password">
             
            </mat-form-field>
          </p>
          <div class="send">
            <button type="submit" mat-raised-button color="primary">Register</button>
           
          </div>
       </form>
    </div>
</div>